@model asociatie_proprietari.Models.Apartament

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Apartament</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ApartamentId" />
            <div class="form-group">
                <label asp-for="NumarApartament" class="control-label"></label>
                <input asp-for="NumarApartament" class="form-control" />
                <span asp-validation-for="NumarApartament" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Scara" class="control-label"></label>
                <input asp-for="Scara" class="form-control" />
                <span asp-validation-for="Scara" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumarCamere" class="control-label"></label>
                <input asp-for="NumarCamere" class="form-control" />
                <span asp-validation-for="NumarCamere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumarPersoane" class="control-label"></label>
                <input asp-for="NumarPersoane" class="form-control" />
                <span asp-validation-for="NumarPersoane" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
